@import "~/assets/scss/vars";
@import "~/assets/scss/mixins";

.board-column {
	&__container {
		user-select: none;

		@include flex-column;

		width: 17.5rem;
		height: 100%;
		color: var(--color-title);
	}

	&__head {
		display: flex;
		align-items: center;

		margin-bottom: 1.5rem;

		font-size: 0.75rem;
		font-weight: 700;
		color: $medium-gray;
		text-transform: uppercase;
		letter-spacing: 2.4px;
	}

	&__color {
		display: flex;

		min-width: 15px;
		height: 15px;
		margin-right: 12px;

		border-radius: 100%;
	}

	&__title {
		@include truncate;

		cursor: help;
	}

	&__list {
		flex: 1;

		&--empty {
			border-radius: 6px;
			outline: 1px dashed rgb(130 143 163 / 40%);
			outline-width: 2px;
		}
	}

	&__item {
		margin-bottom: 1.5rem;
	}
}
