@import "~/assets/scss/vars";
@import "~/assets/scss/mixins";

.sidebar-item {
	&__container {
		position: relative;
		z-index: 0;

		display: flex;
		align-items: center;

		width: 17.25rem;
		height: fit-content;
		min-height: 2.8rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 2rem;

		font-size: inherit;
		color: inherit;
		text-align: left;
		word-break: break-word;

		background: transparent;

		transition: color 0.2s ease;

		&::after {
			content: "";

			position: absolute;
			z-index: -1;
			left: 0;

			display: flex;
			align-items: center;

			width: 100%;
			height: 100%;

			background-color: transparent;
			border-radius: 0 25px 25px 0;

			transition: background-color 0.1s ease;
		}

		&:hover {
			color: $white;

			&::after {
				background-color: $light-blue;
			}
		}

		&--active,
		&--active:hover {
			pointer-events: none;
			color: $white;

			&::after {
				background-color: $dark-blue;
			}
		}
	}

	&__icon {
		@include flex-center;

		min-width: 1rem;
		height: 16px;
		margin-right: 1rem;
	}
}
