* {
	margin: 0;
}

:root {
	font-size: 16px;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Plus Jakarta Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	color: var(--color-title);

	background-color: var(--color-background);
}

input,
button,
textarea,
select {
	font: inherit;
}

.ps {
	&__rail-y,
	&__rail-x {
		cursor: default;
		background-color: transparent !important;
	}

	&__thumb-y,
	&__thumb-x {
		cursor: default;
		background-color: $dark-blue !important;
	}
}
