@import "~/assets/scss/vars";
@import "~/assets/scss/mixins";

.removable-input-field {
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__icon {
		margin-left: 0.5rem;

		@include flex-center;

		&:disabled {
			pointer-events: none;
			opacity: 0.2;
		}
	}
}
