@import "~/assets/scss/vars";
@import "~/assets/scss/mixins";

.app-board {
	&__container {
		cursor: move;

		position: absolute;
		top: 0;
		left: 18.75rem;

		overflow: auto;
		display: flex;

		width: calc(100vw - 18.75rem);
		height: 100%;
		padding: 1.5rem 2rem;

		color: $white;

		transition: transform 0.2s ease;
		transition: left 0.2s ease;

		&--full {
			left: 0;
			width: 100vw;
		}
	}

	&__list {
		display: flex;
		flex: 1;
		height: 100%;
	}

	&__item {
		height: 100%;

		&:not(:last-of-type) {
			margin-right: 2rem;
		}
	}
}
