@import "~/assets/scss/vars";

.button__container {
	cursor: pointer;

	padding: 8px;

	color: $white;

	background-color: $dark-blue;
	border-radius: $button-border-radius;

	transition: background-color 0.3s ease;

	&:hover {
		background-color: $light-blue;
	}
}
