@import "~/assets/scss/vars";
@import "~/assets/scss/mixins";

.board-form-modal {
	&__container {
		@include flex-column;

		width: 100%;
		text-align: left;
	}

	&__title {
		margin-bottom: 1rem;
		font-size: 1.125rem;
		font-weight: 700;
	}

	&__box {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 1rem;
	}
}
